<main class="content">
    <div class="container">
        <div class="row">
            <div class="col">        
    <!--<h1><div class="text-center">Saisie</div></h1>-->
                <div style="text-align:center; padding-top: 5px">
                    <svg id="horoscope" class="canvas" width="500" height="500" style="align-content: center"></svg>
                </div>
            </div>
        </div>
        <!--<br />
        <canvas #myCanvas class="canvas" width="450" height="450">   
        </canvas>-->
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="Nom">Nom</label>
                    <input class="form-control" id="inputNom" aria-describedby="nomHelp" placeholder="Entrez votre nom">
                    <!--<small class="form-text text-muted" id="nomHelp">Votre nom</small>-->
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="Prenom">Prénom</label>
                    <input class="form-control" id="inputPrenom" aria-describedby="PrenomHelp" placeholder="Entrez votre prénom">
                    <!--<small class="form-text text-muted" id="prenomHelp">Votre prénom</small>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="Jour">Jour de naissance</label>
                    <input class="form-control" id="inputJour">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="Mois">Mois de naissance</label>
                    <input class="form-control" id="inputMois">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="Annee">Année de naissance</label>
                    <input class="form-control" id="inputAnnee">
                </div>
            </div>                
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="Heure">Heure naissance</label>
                    <input class="form-control" id="inputHeure">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="Minute">Minute de naissance</label>
                    <input class="form-control" id="inputMinute">
                </div>
            </div>              
        </div>        
    </div>

    <!--   
    <h1>Electron Timer</h1>

    <div class="progress-wrapper" *ngIf="maxVal">

        <div class="text" *ngIf="!isFinished">
          {{ max - current | number: '1.1-1' }}
        </div>
        
        <div class="text" *ngIf="isFinished">
            ding!
            <audio src="assets/chime.mp3" autoplay></audio>
        </div>
        
        <round-progress
                [max]="max"
                [current]="current"
                [radius]="100"
                [stroke]="25">
        </round-progress>
        
    </div>

    <div class="controls-wrapper">
 
        <label>Seconds</label>
        <input class="input form-control" placeholder="number of seconds" type="text" 
              [(ngModel)]="max"
              (keydown)="reset()">

            
        <button *ngIf="currentVal <= 0" (click)="start()">Start</button>
        <button *ngIf="!isFinished" (click)="finish()">Finish</button>
    </div>-->
</main>

<router-outlet></router-outlet>
